@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-dark: #171717;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
  }
}
.inputStyle{
  outline: none;
  box-shadow:  0px 0px 20px 2px rgba(126, 128, 128, 0.45) inset;
  color:rgb(230, 230, 230);
  padding: 10px;
  background-color: rgba(81, 83, 83, 1);
  width:98vw;
  height:50;
  border:solid;
  border-color:rgba(126, 128, 128, 1);
  border-width:1px;
  border-radius:10px;
}
.miniInputStyle{
  outline: none;
  color:rgb(230, 230, 230);
  width:50px;
  height:40px;
  padding-left: 10px;
  /*background-color: rgba(81, 83, 83, 1);
  box-shadow:  0px 0px 20px 2px rgba(126, 128, 128, 0.45) inset;
  border:solid;
  border-color:rgba(126, 128, 128, 1);
  border-width:1px;
  border-radius:10px;*/
}
.miniInputCoverStyle{
  outline: none;
  box-shadow:  0px 0px 20px 2px rgba(126, 128, 128, 0.45) inset;
  color:rgb(230, 230, 230);
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 120px;
  height:40px;
  border:solid;
  border-color:rgba(0, 0, 0, 0.32);
  border-width:1px;
  border-radius:10px;
}